.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  min-height: 740px;
  z-index: 2;
  color: #FFFFFF;
  text-decoration: none;
  transition: .3s ease;
  background: rgba(42,44,47, .3);
}

.cover__link:hover {
  background: rgba(42,44,47, .8);
}

@media screen and (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    min-height: 200px;
  }
}

