.header__lang {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-self: flex-end;

}

@media screen and (max-width: 320px) {
  .header__lang {
    transform:translate(0px,-4px);
  }
}


